html{
    display: flex;
    flex-grow: 1;
}
body {
    background-color:	#383838;
    font-family: "微軟正黑體";
    display: flex;
    /* width: 100%; */
    flex-grow: 1;
    /* align-items: center;
    justify-content: center; */
}

H1 {
   color: aquamarine;
   /* font-size: 10px; */
}

.count{
    color: aquamarine;
}

.middle{
    /* margin: 50px 20%; */
    flex: 1;
    align-items: center;
    /* align-content: center; */
    vertical-align: middle;
    justify-items: center;
}
 
.flex{
    flex: 1;
}